{% form "cart", cart %}

<h1>Cart</h1>

{% if cart.empty? %}

<h1>Hey, your cart is empty</h1>

{% else %}

{% for item in cart.items %}
    <div>
        <img src="{{ item.image | image_url: width: 400 }}"/>
        <h2>{{item.title}}</h2>
        <input name="updates[]" value="{{item.quantity}}" />
        <a href="{{item.url_to_remove}}">Remove</a> 
    </div>
{% endfor %}

<hr />

<p>{{cart.total_price | money}}</p>

<button type="submit" name="update">
Update
</button>

<button type="submit" name="checkout">
Checkout
</button>

{% endif %}

{% endform %}