<h1>product TEMPLATE</h1>

<div>
    <img src="{{ product.featured_image | image_url: width: 400}}"/>
    <h1>{{- product.title | link_to: product.url }}</h1>
    <h5>{{product.price | money}}</h5>
    <p>{{product.description}}</p>
</div>

{% form 'product', product %}
    <select name="id">

        {% for variant in product.variants %}
            <option value {{variant.id}}>
                {{variant.title}}
            </option>
        {% endfor %}
    </select>

    <button type='submit'>submit</button>
{% endform %}